<div class="container mt-5">
  <div class="row">
    <div class="col-lg-8 offset-lg-2">
      <div class="card">
        <div class="card-body text-center d-flex justify-content-center gap-5">
          <h3 class="text-center titulo">Listado de productos</h3>
          <button
            class="btn btn-success float-end"
            routerLink="/crear-producto"
          >
            Nuevo
          </button>
        </div>
      </div>

      <div class="rounded card mt-2 p-2">
        <table
          class="table table-striped card-body"
          *ngIf="listProductos.length > 0"
        >
          <thead class="">
            <tr>
              <th scope="col">Producto</th>
              <th scope="col">Categoria</th>
              <th scope="col">Ubicacion</th>
              <th scope="col">Precio</th>
              <th scope="col"></th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let producto of listProductos">
              <td>{{ producto.nombre }}</td>
              <td>{{ producto.categoria }}</td>
              <td>{{ producto.ubicacion }}</td>
              <td>{{ producto.precio | currency : "USD" }}</td>
              <td>
                <i class="fa-solid fa-pencil text-primary"></i>
                <i
                    (click)="eliminarProducto(producto._id)"

                  class="fa-solid fa-trash text-danger"
                ></i>
              </td>
            </tr>

            <tr *ngIf="listProductos.length === 0">
              <td colspan="5" class="text-center">
                No hay productos registrados
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>
