<div class="container mt-5">
  <div class="row">
    <div class="col-lg-6 offset-lg-3">
      <div class="card">
        <div class="card-body text-center">
          <h3 class="text-center titulo">Crear Producto</h3>
        </div>
      </div>

      <div class="rounded card mt-2 p-2">
        <form>
          <div class="mb-3">
            <input
              type="text"
              class="form-control form-control-lg"
              id="exampleInputEmail1"
              aria-describedby="emailHelp"
              placeholder="Nombre"
            />
          </div>
          <div class="mb-3">
            <input
              type="text"
              class="form-control form-control-lg"
              id="exampleInputPassword1"
              placeholder="Categoria"
            />
          </div>
          <div class="mb-3">
            <input
              type="text"
              class="form-control form-control-lg"
              id="exampleInputPassword1"
              placeholder="Ubicación"
            />
          </div>
          <div class="mb-3">
            <input
              type="number"
              class="form-control form-control-lg"
              id="exampleInputPassword1"
              placeholder="Precio"
            />
          </div>
          <button
            type="submit"
            class="btn btn-lg float-start btn-secondary"
            routerLink="/"
          >
            Volver
          </button>
          <button type="submit" class="btn btn-lg float-end btn-success">
            Guardar
          </button>
        </form>
      </div>
    </div>
  </div>
</div>
